p{
    color:palevioletred;
    background-color:paleturquoise;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.honeydew{
    background-color:honeydew
}

img{
    width:25%;
    height:25%
}